<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.zxing">

    <uses-permission
        android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"
        android:maxSdkVersion="22"/>
    <application>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.google.zxing.client.android.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.google.zxing.client.android.HelpActivity"
            android:label="@string/menu_help"
            android:screenOrientation="user"
            android:stateNotNeeded="true"/>
    </application>
</manifest>
